<html>
<head>
{%load static%}
<link rel="stylesheet" href= '{% static "css/style.css" %}'>
</head>
<body>
  <div class="container">

  <div class="pane">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/BigdipISS.jpg" alt="background" class="bg">
    <div class="content">
      <div class="h3">DOCTYPE CODE</div>
      <span> HTML | CSS | JQuery </span>
    </div>

    <footer>
      <a href="#" class="link" id="in">Sign In</a>
      <a href="#" class="link" id="up">Sign Up</a>
    </footer>
  </div>
  <div class="pane flipwrapper">

    <div class="card">
      <div class="face front">

      <div class="signin">
        <header>
          <img src="https://pbs.twimg.com/profile_images/1854244834/fightclub03.jpg" alt="Display" class="dp">
          <h3>Welcome Back</h3>
          <span>Sign-in to your account</span>
        </header>

        <form>
          <div class="field">
            <input type="text" placeholder="Username">
          </div>
          <div class="field">
            <input type="password" placeholder="Password">
          </div>

          <button class="btn"> Sign In </button>
        </form>
      </div>

      </div>
      <div class="face back">

      <div class="signup">
        <header>
          <h3>Welcome</h3>
          <span>Please provide the below details</span>
        </header>


        <form>
          <div class="field">
            <input type="text" placeholder="Name">
          </div>

          <div class="field">
            <input type="text" placeholder="username">
          </div>

              <div class="field">
                <input type="text" placeholder="Email">
              </div>

                <div class="field">
                  <input type="password" placeholder="Password">
                </div>

                  <div class="field">
                    <input type="password" placeholder="Confirm password">
                  </div>


            <button class="btn">Sign Up</button>
      </form>

      </div>
      </div>
    </div>

  </div>

  </div>
</body>
</html>
